
<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>

    {{ partial "head-meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/app.css" rel="stylesheet">

    {{ if .RSSLink }}
    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ if .Site.Params.cookie_consent_info_url }}
    {{ partial "cookie-consent.html" . }}
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}
    {{ partial "head-custom.html" . }}

</head>
<body>

<div class="off-canvas-wrapper">
    {{ partial "offcanvas-navigation.html" . }}
    <div class="off-canvas-content" data-off-canvas-content>
        {{ partial "main-navigation.html" . }}

        {{ partial "page-header.html" . }}

        <main>
            <div class="grid-container">
                <div class="grid-x grid-padding grid-margin-y p-b-100" id="content">
                    <div class="cell small-10 small-offset-1 large-12 large-offset-0">
                        {{ block "main" . }}
                        <!-- The part of the page that begins to differ between templates -->
                        {{ end }}
                    </div>
                </div>
            </div>
        </main>

        {{ partial "footer.html" . }}
    </div>
</div>
</body>
</html>