<section id="contact" name="contact" data-section="contact">
    <div class="bg-light-gray p-t-b-100">
        <div class="grid-x grid-padding-x grid-margin-y section-header text-left align-middle">
            <div class="cell small-10 large-5 small-offset-1 small-order-1 large-order-2">
                <div class="form-container">
                    <h2>{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h2>
                    <p>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
                    <form id="contact-form" method="post" action="{{ .Site.Params.email }}">
                        <div class="form-group ">
                            {{ with .Site.Params.contact.name }}
                            <label for="name" class="show-for-sr">{{ . | markdownify }}</label>
                            <input id="name" class="form-control" name="name" placeholder="{{ . }}" type="text">
                            {{ end }}
                        </div>
                        <div class="form-group ">
                            {{ with .Site.Params.contact.email }}
                            <label for="email" class="show-for-sr">{{ . | markdownify }}</label>
                            <input id="email" class="form-control" name="_replyto" placeholder="{{ . }}" type="email">
                            {{ end }}
                        </div>
                        <div class="form-group ">
                            {{ with .Site.Params.contact.phone }}
                            <label for="phone" class="show-for-sr">{{ . | markdownify }}</label>
                            <input id="phone" class="form-control" name="phone" placeholder="{{ . }}" type="text">
                            {{ end }}
                        </div>
                        <div class="form-group ">
                            {{ with .Site.Params.contact.message }}
                            <label for="message" class="show-for-sr">{{ . | markdownify }}</label>
                            <textarea id="message" cols="30" rows="5" class="form-control" name="message" placeholder="{{ . }}"></textarea>
                            {{ end }}
                        </div>
                        <div class="form-group ">
                            <button class="button btn btn-primary btn-lg" value="{{ .Site.Params.contact.button | markdownify }}" type="submit">{{ .Site.Params.contact.button | markdownify }}</button>
                        </div>
                    </form>
                    <div id="contact_error" class="callout alert">
                        Sorry, an error has occurred. please try again
                    </div>
                    <div id="contact_success" class="callout success">
                        Thanks.
                    </div>
                </div>
            </div>
            <div class="cell large-5 large-offset-1 large-order-1 show-for-large">
                <img class="contact-map" src="{{ with .Site.Params.contact.img }}{{ . | markdownify }}{{ end }}" alt="{{ with .Site.Params.contact.alt }}{{ . | markdownify }}{{ end }}">
            </div>

        </div>
    </div>

</section>