<section id="{{ .Site.Params.contentblock.anchore }}"data-section="content-block" data-animate="true">
    <div class="grid-container">
        {{ range .Site.Params.contentblock.item }}
        <div class="grid-x grid-padding-x grid-margin-y section-header p-t-50 {{ if .img }} text-left {{ else }} text-center {{ end }}">
            {{ if .img }}
            <div class="cell small-10 small-offset-1 large-6 large-offset-0 {{ if .contentleft }} small-order-1 {{else}} small-order-2 {{ end }}">
                <h2>{{ with .title }}{{ . | markdownify }}{{ end }}</h2>


                {{ if .img }}
                    <img class="hide-for-large content-image-mobile" src="{{ .img | markdownify }}" alt="{{ .alt | markdownify }}">
                {{ end }}
                {{ if .description }}
                    <p>{{ .description | markdownify }}</p>
                {{ end }}
            </div>
            <div class="cell large-6 show-for-large {{ if .contentleft }} small-order-2 {{else}} small-order-1 {{ end }}">
                {{ if .img }}
                <img src="{{ .img | markdownify }}" alt="{{ .alt | markdownify }}">
                {{ end }}
            </div>
            {{ else }}
            <div class="cell small-12 text-center">
                <h2>{{ with .title }}{{ . | markdownify }}{{ end }}</h2>
                {{if .subtitle }}
                <h3>{{ .subtitle | markdownify }}</h3>
                {{end}}
                {{ if .description }}
                <p>{{ .description | markdownify }}</p>
                {{end}}
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>

