<section id="biff-counters" data-section="counters" data-animate="true">
    <div class="bg-black angle-cut top bottom p-t-b-100">
        <div class="grid-container content-white p-t-b-100">
            <div class="grid-x grid-padding-x grid-margin-y section-header text-center">
                <div class="cell small-12">
                    <h2>{{ with .Site.Params.counters.title }}{{ . | markdownify }}{{ end }}</h2>
                </div>
                <div class="cell small-12 medium-8">
                    <h3>{{ with .Site.Params.counters.description }}{{ . | markdownify }}{{ end }}</h3>
                </div>
            </div>

            <div class="grid-x grid-padding-x grid-margin-y text-center small-up-1 medium-up-2 large-up-4 m-b-100" data-equalizer data-equalize-on="medium">
                {{ range .Site.Params.counters.item }}
                <div class="cell text-center">
                    <div class="counter-card" data-equalizer-watch>
                        <i class="{{ .icon | markdownify }}"></i>
                        <span class="counter-number js-counter" data-from="{{ .from }}" data-to="{{ .to }}" data-speed="{{ .speed }}" data-refresh-interval="{{ .interval }}">{{ .to }}</span>
                        <span class="counter-label">{{ .description | markdownify }}</span>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>

</section>