<section id="biff-counters" data-section="countdown" data-animate="true" data-timer="{{ .Site.Params.countdown.time }}">
    <div class="bg-black angle-cut top bottom p-t-b-100">
        <div class="grid-container content-white p-t-b-100">
            <div class="grid-x grid-padding-x grid-margin-y section-header text-center">
                <div class="cell small-12">
                    <h2>{{ with .Site.Params.countdown.title }}{{ . | markdownify }}{{ end }}</h2>
                </div>
                <div class="cell small-12 medium-8">
                    <h3>{{ with .Site.Params.countdown.description }}{{ . | markdownify }}{{ end }}</h3>
                </div>
            </div>

            <div class="grid-x grid-padding-x grid-margin-y text-center m-b-100 align-center">
                <div id="countdown" class="cell small-12" ms-user-select="none">
                    <input class="knob" id="days" data-readonly=true data-min="0" data-max="99" data-skin="tron" data-width="200" data-height="200" data-thickness="0.2" data-fgcolor="#FF574F">
                    <input class="knob" id="hours" data-readonly=true data-min="0" data-max="24" data-skin="tron" data-width="200" data-height="200" data-thickness="0.2" data-fgcolor="#B3FF40">
                    <input class="knob" id="mins" data-readonly=true data-min="0" data-max="60" data-skin="tron" data-width="200" data-height="200" data-thickness="0.2" data-fgcolor="#575FFF">
                    <input class="knob" id="secs" data-readonly=true data-min="0" data-max="60" data-skin="tron" data-width="200" data-height="200" data-thickness="0.2" data-fgcolor="#E957FF">

                    <div id="subtitles">
                        <span id="days-sub">days</span>
                        <span id="hours-sub">hours</span>
                        <span id="mins-sub">minutes</span>
                        <span id="secs-sub">seconds</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>