<footer class="page-footer angle-cut top">

    <div class="grid-container">
        <div class="grid-x grid-padding grid-margin-y p-t-b-100" data-equalizer data-equalize-on="medium">

            {{ if .Site.Params.newsletter.enable }}
            <div class="cell small-12 medium-4">
                <div class="footer-inner" data-equalizer-watch>
                    <h4>{{ with .Site.Params.missionstatement.title }}{{ . | markdownify }}{{ end }}</h4>
                    <p>{{ with .Site.Params.missionstatement.description }}{{ . | markdownify }}{{ end }}</p>
                    <div class="footer-email">
                        <i class="icon-envelope"><span class="show-for-sr">Email</span></i>
                        <a href="mailto:info@spacebrainz.com">info@spacebrainz.com</a>
                    </div>
                    <ul class="social social-circle">
                        {{ range .Site.Params.social.sociallinks }}
                        <li><a href="{{ index . 1 }}"><i class="{{ index .  0 }}"></i></a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="cell small-12 medium-4">
                <div class="footer-inner footer-inner-middle" data-equalizer-watch>
                    <h4>Sitemap</h4>
                    <ul class="footer-menu">
                        <li class="{{ if .IsHome }}active{{ end }}"><a href="{{ .Site.BaseURL | absLangURL }}">
                            {{ i18n "home" }}
                        </a></li>
                        {{ if .Site.Params.custom_navbar }}
                        {{ range .Site.Menus.navbar }}
                        <li><a href="{{.URL | absURL }}">
                            {{ .Name }}
                        </a></li>
                        {{ end }}
                        {{ else }}
                        {{ range where .Site.Pages "Type" "!=" "post" }}
                        <li><a href="{{ .Permalink }}">
                            {{ .Title }}
                        </a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="cell small-12 medium-4">
                <div class="footer-inner" data-equalizer-watch>
                    <h4>Newsletter</h4>
                    <p>Sign up to our newsletter below:</p>
                    <form id="newsletterform" method="post" action="{{ .Site.Params.newsletter_url }}">
                        <div class="form-group ">
                            <label for="email" class="show-for-sr">Email</label>
                            <input id="email" class="form-control" name="email" placeholder="Email" type="email">
                        </div>
                        <div class="form-group ">
                            <button class="button btn btn-primary btn-lg" value="Sign Up" type="submit">Sign up</button>
                        </div>
                    </form>
                    <div id="news_error" class="callout alert">
                        Sorry, an error has occurred. please try again
                    </div>
                    <div id="news_success" class="callout success">
                        Thanks for signing up.
                    </div>
                </div>
            </div>
            {{ else }}
            <div class="cell small-12 medium-6">
                <div class="footer-inner text-center" data-equalizer-watch>
                    <h4>{{ with .Site.Params.missionstatement.title }}{{ . | markdownify }}{{ end }}</h4>
                    <p>{{ with .Site.Params.missionstatement.description }}{{ . | markdownify }}{{ end }}</p>
                    <div class="footer-email">
                        <i class="icon-envelope"><span class="show-for-sr">Email</span></i>
                        <a href="mailto:info@spacebrainz.com">info@spacebrainz.com</a>
                    </div>
                    <ul class="social social-circle">
                        {{ range .Site.Params.social.sociallinks }}
                        <li><a href="{{ index . 1 }}"><i class="{{ index .  0 }}"></i></a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="cell small-12 medium-6">
                <div class="footer-inner text-center footer-inner-end" data-equalizer-watch>
                    <h4>Sitemap</h4>
                    <ul class="footer-menu">
                        <li class="{{ if .IsHome }}active{{ end }}"><a href="{{ .Site.BaseURL | absLangURL }}">
                            {{ i18n "home" }}
                        </a></li>
                        {{ if .Site.Params.custom_navbar }}
                        {{ range .Site.Menus.navbar }}
                        <li><a href="{{.URL | absURL }}">
                            {{ .Name }}
                        </a></li>
                        {{ end }}
                        {{ else }}
                        {{ range where .Site.Pages "Type" "!=" "post" }}
                        <li><a href="{{ .Permalink }}">
                            {{ .Title }}
                        </a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}


        </div>
        <div class="grid-x grid-padding grid-margin-y">
            <div class="cell auto">
                <p>
                    {{ if .Site.Copyright }}
                    {{ .Site.Copyright | markdownify }}
                    {{ else }}
                    Page template created by <a href="http://www.biffnewmedia.com">@Biffnewmedia</a></a>.
                    {{ end }}
                </p>
            </div>
            <div class="cell shrink text-right">
                <p>
                    <a href="{{ .Permalink }}#" id="backtotop"><i class="icon-chevron-up"></i> {{ i18n "backToTop" }}</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<foot>

    <script src="{{ .Site.BaseURL }}js/app.js"></script>

</foot>
