<header class="hero-header">
    <div class="grid-x align-center-middle text-center">
        <div class="cell small-6 medium-4 large-5">
            {{if .Site.Params.logo_images}}
            <a href="{{ .Site.BaseURL }}" rel="home"><img src="{{ .Site.Params.logo_large}}" alt="{{ .Site.Title | safeHTML }}"></a>
            {{else}}
            <h1>
                <a href="{{ .Site.BaseURL }}" rel="home">{{ .Site.Title | safeHTML }}</a>
            </h1>
            {{end}}
            {{ if .Site.Params.description }}
            <h4>
                {{ .Site.Params.description | markdownify }}
            </h4>
            {{ end }}
        </div>
    </div>
    <div class="scroll-icons">
        <div class="grid-x">
            <div class="cell auto cover"></div>
            <div class="cell shrink"><img src="/images/scroll-icon.png" alt=""></div>
            <div class="cell auto cover"></div>
        </div>
    </div>
    <div id="particles-js"></div>
</header>