<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="push">
    <div class="title-bar">
        Menu
    </div>
    <ul class="vertical menu" data-smooth-scroll>
        <li class="{{ if .IsHome }}active{{ end }}"><a href="{{ .Site.BaseURL | absLangURL }}">
            {{ i18n "home" }} </a>
            {{ if .Site.Menus.home}}
            <ul class="vertical menu sub">
                {{ range .Site.Menus.home }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{end}}
            </ul>
            {{ end}}
        </li>
        {{ if .Site.Params.custom_navbar }}
        {{ range .Site.Menus.navbar }}
        <li><a href="{{.URL | absURL }}">
            {{ .Name }}
        </a></li>
        {{ end }}
        {{ else }}
        {{ range where .Site.Pages "Type" "!=" "post" }}
        <li><a href="{{ .Permalink }}">
            {{ .Title }}
        </a></li>
        {{ end }}
        {{ end }}
    </ul>
    <hr/>
    <ul class="vertical menu language">
        <ul class="vertical menu">
        {{ if .IsTranslated }}
        {{ range $i, $e := .Translations }}
        <li><a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a></li>
        {{ end}}
        {{ end }}
        </ul>
    </ul>
</div>
