<header class="page-header angle-cut bottom">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell small-6 medium-4">
                <h1>
                    {{ if .IsNode }}
                        {{ .Title | safeHTML }}
                    {{else}}
                        {{ .Section | safeHTML }}
                    {{end}}
                </h1>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</header>