<section id="{{ .Site.Params.services.anchore }}" data-section="services" data-animate="true">
    <div class="bg-primary-fade-secondary angle-cut top bottom p-t-b-100">
        <div class="grid-container content-white p-t-b-100">
            <div class="grid-x grid-padding-x grid-margin-y section-header text-left">
                <div class="cell small-12">
                    <h2>{{ with .Site.Params.services.title }}{{ . | markdownify }}{{ end }}</h2>
                </div>
                <div class="cell small-12 medium-8">
                    <h3>{{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}</h3>
                </div>
            </div>

            <div class="grid-x grid-padding-x grid-margin-y text-center small-up-1 medium-up-2 large-up-2 m-b-100" data-equalizer data-equalize-on="medium">
                {{ range .Site.Params.services.item }}
                <div class="cell text-left">
                    <div class="service-card" data-equalizer-watch>
                        <i class="{{ .icon | markdownify }}"></i>
                        <h3>{{ .name | markdownify }}</h3>
                        <p>{{ .description | markdownify }}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>

</section>