<section id="{{ .Site.Params.about.anchore }}" data-section="team" data-animate="true">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-margin-y section-header text-center">
            <div class="cell small-12">
                <h2>{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
            </div>
            <div class="cell small-8">
                <h3>{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-margin-y text-center small-up-1 medium-up-2 large-up-3 m-t-100" data-equalizer data-equalize-on="medium">
            {{ range .Site.Params.about.item }}
            <div class="cell">
                <div class="team-card" data-equalizer-watch>
                    <figure>
                        <img src="{{ .img | markdownify }}" alt="{{ .alt | markdownify }}">
                    </figure>
                    <h3>{{ .name | markdownify }}</h3>
                    <span class="job-title">{{ .position | markdownify }}</span>
                    <p>{{ .description | markdownify }}</p>
                    <ul class="social social-circle">
                        {{ range .social }}
                        <li><a href="{{ index . 1 }}" target="_blank"><i class="{{ index .  0 }}"></i></a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>

    </div>
</section>