<section id="biff-testimonials" data-section="testimonials" data-animate="true">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-margin-y section-header text-center p-t-100">
            <div class="cell small-12">
                <h2>{{ with .Site.Params.testimonials.title }}{{ . | markdownify }}{{ end }}</h2>
            </div>
            <div class="cell small-12 medium-8">
                <h3>{{ with .Site.Params.testimonials.description }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>

        <div class="grid-x grid-padding-x grid-margin-y text-center small-up-1 medium-up-2 large-up-3 m-b-100" data-equalizer data-equalize-on="medium">
            {{ range .Site.Params.testimonials.item }}
            <div class="cell">
                <div class="testimonial-card" data-equalizer-watch>
                    <div class="quote">
                        <p>{{ .quote | markdownify}}</p>
                    </div>
                    <div class="author">
                        <img src="{{ .img }}" alt="{{ .alt }}">
                        <p>{{ .person | markdownify }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>

    </div>
</section>