<section id="video" data-section="video">
    <div class="grid-container p-t-b-100">
        <div class="grid-x grid-padding-x grid-margin-y watch-video text-center">
            <div class="cell small-12 text-center section-header">
                <h2>{{ with .Site.Params.video.title }}{{ . | markdownify }}{{ end }}</h2>
                {{if .Site.Params.video.subtitle }}
                    <h3>{{ .Site.Params.video.subtitle | markdownify }}</h3>
                {{end}}
                {{ if .Site.Params.video.description }}
                    <p>{{ .Site.Params.video.description | markdownify }}</p>
                {{end}}
            </div>
            <div class="cell small-12 p-t-50">
                <span>{{ .Site.Params.video.button | markdownify }}</span>
                <a href="{{ .Site.Params.video.url }}" class="{{ if .Site.Params.video.vimeourl }} popup-vimeo {{ else }} popup-youtube {{ end }} btn-video"><i class="{{ .Site.Params.video.icon | markdownify }}"></i></a>
            </div>
        </div>
    </div>
</section>