<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>

    {{ partial "head-meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/app.css" rel="stylesheet">

    {{ if .RSSLink }}
    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ if .Site.Params.cookie_consent_info_url }}
    {{ partial "cookie-consent.html" . }}
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}
    {{ partial "head-custom.html" . }}

</head>
<body>


<header class="hero-header full">
    <div class="grid-x align-center-middle text-center">
        <div class="cell small-6 medium-4">
            {{if .Site.Params.logo_images}}
            <a href="{{ .Site.BaseURL }}" rel="home"><img src="{{ .Site.Params.logo_small}}" alt="{{ .Site.Title | safeHTML }}"></a>
            {{else}}

            <h1>
                <a href="{{ .Site.BaseURL }}" rel="home">{{ .Site.Title | safeHTML }}</a>
            </h1>
            {{end}}
            <h4>
                Page not found
            </h4>
        </div>
    </div>
    <div id="particles-js"></div>
</header>

<foot>

    <script src="{{ .Site.BaseURL }}js/app.js"></script>

</foot>

</body>
</html>