<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>

    {{ partial "head-meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/app.css" rel="stylesheet">

    {{ if .RSSLink }}
    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ if .Site.Params.cookie_consent_info_url }}
    {{ partial "cookie-consent.html" . }}
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}
    {{ partial "head-custom.html" . }}

</head>
{{ if .Site.Params.pagescroll_animation }}
<body class="default home" data-animation="true">
{{else}}
<body class="default home" data-animation="false">
{{end}}
<div class="off-canvas-wrapper">
    {{ partial "offcanvas-navigation.html" . }}
    <div class="off-canvas-content" data-off-canvas-content>
        {{ partial "main-navigation.html" . }}

        {{ partial "hero-header.html" . }}

        <main>
            <div id="content">
                {{ if .Site.Params.contentblock.enable }}
                    {{ partial "content-block.html" . }}
                {{ end }}
                {{ if .Site.Params.services.enable }}
                    {{ partial "services.html" . }}
                {{ end }}
                {{ if .Site.Params.video.enable }}
                    {{ partial "video-block.html" . }}
                {{ end }}
                {{ if .Site.Params.counters.enable }}
                    {{ partial "countdown-timer-block.html" . }}
                {{ end }}
                {{ if .Site.Params.about.enable }}
                    {{ partial "team.html" . }}
                {{ end }}
                {{ if .Site.Params.countdown.enable }}
                    {{ partial "counters-block.html" . }}
                {{ end }}
                {{ if .Site.Params.testimonials.enable }}
                    {{ partial "testimonials.html" . }}
                {{ end }}
                {{ if .Site.Params.contact.enable }}
                    {{ partial "contact.html" . }}
                {{ end }}
            </div>
        </main>
        {{ partial "footer.html" . }}
    </div>
</div>
</body>
</html>