
// TEAM SECTION

.team-card{
  position: relative;
  border: 2px solid $light-gray;

  @include breakpoint(small){
    padding: rem-calc(80) rem-calc(20) rem-calc(20) rem-calc(20);
    margin-bottom: rem-calc(80);
  }
  @include breakpoint(medium){
    padding: rem-calc(80) rem-calc(20) rem-calc(70) rem-calc(20);
    margin-bottom: rem-calc(80);
  }

  figure{
    position: absolute;
    margin-top: -60px;
    top: 0;
    left: 50%;
    margin-left: -60px;
    display: block;
    margin-bottom: 50px;
    img{
      width: 120px;
      border: 2px solid #f2f2f2;
      border-radius: 50%;
    }
  }

  .job-title{
    color: $dark-gray;
    display: block;
    margin-bottom: 20px;
  }

  .social{
    @include breakpoint(small){
      position: relative;
    }
    @include breakpoint(medium){
      position: absolute;
      bottom:20px;
      left:0;
      right:0;
    }
  }
}

// SERVICES SECTION

.service-card{
  i{
    font-size: 70px;
    margin-bottom: 30px;
    display: inline-block;
    zoom: 1;
  }
  h3{
    font-size: 24px;
  }

}

// COUNTERS BLOCK

.counter-card{
  position: relative;
  z-index: 3;
  text-align: center;
  i{
    display:block;
    font-size: rem-calc(40);
    color: $primary-color;
  }
  .counter-number{
    display: block;
    font-size: rem-calc(70);
    color: $white;
    font-weight: 300;
  }
  .counter-label{
    color: $white;
    opacity: 0.5;
    font-size: rem-calc(18);
    font-weight: 400;

  }

}

// TESTIMONIALS BLOCK

.testimonial-card{
  .quote{
    position: relative;
    border-left: none;
    padding: 30px;
    background: #fff;
    background: $primary-color;
    font-size: 20px;
    font-weight: 300;
    border-radius: 7px;
    margin-bottom: rem-calc(20);
    p{
      font-style: italic;
      color: #fff;
      margin-bottom: 0;
    }
    &:after{
      content: "";
      position: absolute;
      top: 100%;
      left: 40px;
      border-top: 10px solid black;
      border-top-color: #fff;
      border-top-color: $primary-color;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
  .author{
    line-height: 20px;
    color: black;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 400;
    img{
      float: left;
      margin-right: 10px;
      width: 60px;
      border-radius: 50%;
    }
    p{
      float: left;
      margin-top: 10px;
    }
  }
}