#countdown {
  position:relative;
  color:#FFF;
  /*   border:1px solid #009; */
}

#days {
  position:relative;
}

#hours {
  position:relative;
}

#mins {
  position:relative;
}

#secs {
  position:relative;
}

#descrip {
  text-align: left;
  position:relative;
  top:150px;
}

#d-title {
  text-align:center;
  font-size: 2em;
}

#d-subtitle {
  text-align: center;
  font-size: 1.3em;
  position: relative;
  top:-15px;
}

#main-title {
  position:absolute;
  top:-100px;
  width:100%;
  text-align:center;
  /*   border:1px solid #090; */
}


#subtitles {
  color:#FFFFFF;
}
#days-sub {
  position:relative;
  //left:80px;
}

#hours-sub {
  position:relative;
  //left:250px;

}

#mins-sub {
  position:relative;
  //left:405px;
}

#secs-sub {
  position:relative;
  //left:555px;
}