.page-footer{
  overflow: hidden;
  position:relative;
  //margin-top: rem-calc(50);
  padding-top: 150px;
  background: $dark-blue;
  color:$white;

  .footer-inner{

    @include breakpoint(small){
      padding: rem-calc(32) rem-calc(16);
    }
    @include breakpoint(medium){
      padding: 0 rem-calc(32);
    }
    h4{
      margin-bottom: rem-calc(32);
    }

    .footer-email{
      margin-bottom: rem-calc(16);
      i, a{
        display: inline-block;
        vertical-align: middle;
        font-size: rem-calc(22);
        color: $white;
      }
      i{
        padding-right: 10px;
      }
    }

    .social{
      li{
        text-align: center;
      }

    }

    .footer-menu{
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      li{
        outline:0;
        font-size: inherit;
        display: inline-block;
        width:50%;
        a{
          line-height: 1;
          text-decoration: none;
          display: block;
          padding: 0.7rem 1rem;
          color: $white;
        }
      }
    }

    &.footer-inner-middle, &.footer-inner-end{
      position: relative;
      &:before, &:after{
        display: block;
        content:'';
        background: $white;
        opacity: 0.5;
        @include breakpoint(small){
          position: absolute;
          top:0;
          left:0;
          right:0;
          width:90%;
          height:1px;
          margin: 0 auto;
        }
        @include breakpoint(medium){
          @include vertical-center();
          left:0;
          right: inherit;
          width:1px;
          height:70%;
        }
      }
      &:after{
        @include breakpoint(small){
          top: inherit;
          left:0;
          right:0;
          bottom:0;
        }
        @include breakpoint(medium){
          top:50%;
          left:inherit;
          bottom:inherit;
          right:0;
        }
      }
    }
    &.footer-inner-end{
      @extend .text-center;
      &:after{
        display: none;
      }
    }

    &.text-center{
      text-align: center;
      h4{
        text-align: center;
      }

    }
  }

}