.form-container{
  max-width: 480px;
  @include breakpoint(small){
    margin: 0 auto rem-calc(50) auto;
  }
  @include breakpoint(large){
    margin:0;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: rem-calc(10) rem-calc(20);
  margin: 0 auto rem-calc(16) auto;
  font-size: 18px;
  line-height: 18px;
  color: $black;
  background-color: $white;
  background-image: none;
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &:active, &:focus{
    outline: none;
    box-shadow: none;
    border: 2px solid $primary-color;
  }
}

