$angle: 2deg;



.angle-cut{
  position: relative;
  overflow: hidden;
  &.top{
    &:before {
      content: '';
      width: 200vw;
      height: 150px;
      display: block;
      position: absolute;
      top: -63px;
      left: -50vw;
      background: white;
      transform: rotate($angle);
    }
  }
  &.bottom{
    &:after {
      content: '';
      width: 200vw;
      height: 150px;
      display: block;
      position: absolute;
      bottom: -63px;
      left: -50vw;
      background: white;
      transform: rotate($angle);
    }
  }
  &.angle-cut-gray{
    &:before, &:after{
      @extend .bg-light-gray;
    }
  }

}

// Background gradients / colours

.bg-light-gray{
  background: $light-gray;
}

.bg-black{
  background: $black;
}

.bg-primary-fade-secondary{
  background-color: #EF233C;
  //background: linear-gradient(135deg, #ef233c 20%,#ef233c 20%,#ef233c 53%,#edaab2 82%,#edaab2 82%,#ffffff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef233c', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background: linear-gradient(135deg, #d90429 0%, #ef233c 51%, #ff263f 71%, #ff7926 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d90429', endColorstr='#ff7926', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  overflow: hidden;
}

// typography

.content-white{
  h1,h2,h3,h4,h5,p,i{
    color: $white!important;
  }
  h2{
    &:after{
      background: $white!important;
    }
  }
}

//margin and padding atoms
@for $i from 1 through 20{
  $num: $i * 10;
  .p-t-b-#{$num}{
    padding-top: rem-calc($num);
    padding-bottom:rem-calc($num);
    @include breakpoint(small only) {
      padding-top: rem-calc($num * 0.8);
      padding-bottom:rem-calc($num * 0.8);
    }
  }
}

@for $i from 1 through 10{
  $num: $i * 10;
  .p-t-#{$num}{
    padding-top: rem-calc($num);
    @include breakpoint(small only) {
      padding-top: rem-calc($num/2);
    }
  }
}

@for $i from 1 through 10{
  $num: $i * 10;
  .p-b-#{$num}{
    padding-bottom: rem-calc($num);
    @include breakpoint(small only) {
      padding-bottom: rem-calc($num/2);
    }
  }
}

@for $i from 1 through 10{
  $num: $i * 10;
  .m-t-b-#{$num}{
    margin-top: rem-calc($num);
    margin-bottom:rem-calc($num);
    @include breakpoint(small only) {
      margin-top: rem-calc($num/2);
      margin-bottom:rem-calc($num/2);
    }
  }
}

@for $i from 1 through 10{
  $num: $i * 10;
  .m-t-#{$num}{
    margin-top: rem-calc($num);
    @include breakpoint(small only) {
      margin-top: rem-calc($num/2);
    }
  }
}

@for $i from 1 through 10{
  $num: $i * 10;
  .m-b-#{$num}{
    margin-bottom: rem-calc($num);
    @include breakpoint(small only) {
      margin-bottom: rem-calc($num/2);
    }
  }
}