.hero-header{
  position:relative;
  margin-bottom: rem-calc(50);

  > div {
    color:white;
    a{
      img{
        width:100%;
        max-width: 480px;
        margin-bottom: rem-calc(30);
      }
    }
    h1{
      a{
        color:white;
      }
    }
  }
  > .grid-x{
    pointer-events: none;
    width: 100vw;
    height: 80vh;
  }

  &.full{
    > .grid-x{

      height: 100vh;
    }
  }
}

.scroll-icons{
  position:absolute;
  bottom:0;
  width: 100vw;
  .cover{
    height: 50px;
    background: white;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: #EF233C;
  //background: linear-gradient(135deg, #ef233c 20%,#ef233c 20%,#ef233c 53%,#edaab2 82%,#edaab2 82%,#ffffff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef233c', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background: linear-gradient(135deg, #d90429 0%, #ef233c 51%, #ff263f 71%, #ff7926 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d90429', endColorstr='#ff7926', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  z-index: -1;
}