.page-header{
  position:relative;
  margin-bottom: rem-calc(50);

  > div {
    color:white;

    h1 {
      margin-top: 40px;
      color: white;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
  .grid-x{
    pointer-events: none;
    width: 100vw;
    height: 400px;
  }
}