section{
  overflow:hidden;
}
.section-header{

  margin-bottom: rem-calc(50);

  h2{
    margin: 0 0 30px 0;
    font-size: rem-calc(40);
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: rem-calc(20);
    line-height: 1;

    @include breakpoint(medium) {
      font-size: rem-calc(50);
    }

    &:after{
      content: "";
      position: absolute;
      display: block;
      width: 80px;
      height: 2px;
      background: $primary-color;
      left: 50%;
      margin-top: 30px;
      margin-left: -40px;
      bottom: 0;
      line-height: 1.5;
    }
  }

  h3{
    color:$dark-gray;
    font-weight: 300;
    font-size: rem-calc(20);
    line-height: 1.5;
    margin-bottom: rem-calc(50);

    @include breakpoint(medium) {
      font-size: rem-calc(25);
    }
  }

  .content-image-mobile{
    margin-bottom: rem-calc(30);
  }

  &.text-center{
    @extend .align-center;
    h2{
      &:after{
        left: 50%;
        margin-left: -40px;
      }
    }
  }

  &.text-left{
    h2{
      &:after{
        left: 0;
        margin-left: 0;
      }
    }
  }

  &.text-right{
    h2{
      &:after{
        left: initial;
        right:0;
        margin-left: 0;
      }
    }
  }

}

// SOCIAL CIRCLES

.social{
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  li{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    a{
      font-size: 16px;
      display: table;
      width: 40px;
      height: 40px;
      margin: 0 4px;
      transition: 0.5s all ease;
      &:hover{
        background: $dark-gray;

      }
      i{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  &.social-circle{
    a{
      background: $primary-color;
      color: $white;
      border-radius: 50%;
    }
  }
}

// VIDEO BLOCK

.watch-video{
  text-align: center;
  width: 100%;
  display: block;
  span{
    display: block;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .btn-video{
    position: relative;
    display: block;
    display: table;
    font-size: 60px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border: 2px solid $primary-color;
    line-height: 0;
    text-align: center;
    border-radius: 50%;
    outline:0;
    i{
      @include vertical-center();
      display: block;
      margin: 0 auto;
      padding: 0;
      left:0;
      right: -10px;
      transition: 0.3s all ease;
    }
  }

}








